/* #app {
  max-width: 800px;
  min-width: 400px;
  margin: 0 auto;
  padding: 0.5rem;
} */

body {
  background-color: #202124;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
